.app-container {
  .add-new {
  }
}

.sort-header {
  display: flex;
  justify-content: space-around;
  i {
    cursor: pointer;
    padding: 0 2px;
  }
}

tbody {
  tr {
    td {
      text-align: center;
    }
  }
}
.add-new {
  .icon-csv {
    font-size: 28px;
    color: blue;
  }
}
.customize-table {
  overflow-x: auto;
}
.pagination {
  justify-content: center !important;
}
